@model IEnumerable<MVCBookStore.Models.CHUDE>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheochude", "BookStore", new { id = item.MaCD})" class="list-group-item">
            <div>
            @item.TenChuDe
            </div>
        </a>
    }
</div>


@*@foreach(var item in Model)
{
    <li><a href="~/Views/Shared/index.html">@item.TenChuDe</a></li>
}*@
